$h1: calc(3rem + 1vw);
$h2: calc(2rem + 1vw);
$h3: calc(1.5rem + 1vw);
$navTextSize: calc(.8rem + 1vw);
$normalTextSize: calc(2rem + .2vw);

$specialColor: #e63946;

$phone: 400px;
$tablet: 880px;
$desktop: 1000px;